beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cx-Freeze==6.10
cx-Logging==3.0
docopt==0.6.2
EasyProcess==1.1
Flask==2.0.2
Flask-Login==0.5.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
licensing==0.32
MarkupSafe==2.0.1
Pillow==9.0.1
pipreqs==0.4.11
PyRx==0.3.0
PyVirtualDisplay==0.2.4
requests==2.27.1
selenium==3.141.0
soupsieve==2.3.1
urllib3==1.26.8
wasmer==1.1.0
wasmer_compiler_cranelift==1.1.0
Werkzeug==2.0.3
yarg==0.1.9
